<mat-grid-list cols="2" rowHeight="2:1">
  <mat-grid-tile>Logo</mat-grid-tile>
  <mat-grid-tile>
    <form [formGroup]="login" (ngSubmit)="onSubmit()">
      <mat-error *ngIf="this.errorLogin">{{ 'FORMLOGIN.errorLogin' | translate }}</mat-error>
      <mat-card-content>
        <mat-form-field appearance="fill">
          <mat-label>{{ 'FORMLOGIN.lblusuario' | translate }}</mat-label>
          <input type="text" matInput name="" id="" formControlName="usuario">
          <mat-error *ngIf="this.login.get('usuario').invalid">{{ getMensajeErrorUsuario() | translate }}</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Contraseña</mat-label>
          <input type="password" matInput name="" id="" formControlName="password">
          <mat-error *ngIf="this.login.get('password').invalid">{{ getMensajeErrorPassword() | translate }}</mat-error>
        </mat-form-field>
        <section class="section-check">
          <mat-checkbox formControlName="remember_me">{{ 'FORMLOGIN.chkRememberMe' | translate }}</mat-checkbox>
        </section>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary">{{ 'FORMLOGIN.btnIniciarSesion' | translate }}</button>
      </mat-card-actions>
    </form>
  </mat-grid-tile>
</mat-grid-list>
